<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css"> {# site.baseurl を使う #}
</head>
<body>
  <header>
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.github_username | default: site.title }}.</p>
  </footer>
</body>
</html>